@import '../themes';

.movie-locker {
   position: fixed;
   z-index: 5;
   top: 0;
   left: 0;

   overflow: hidden;

   width: 100vw;
   height: 100vh;
   padding-top: 5rem;

   cursor: pointer;

   @include themify() {
      background-color: themed('movie-background-color');
   }  backdrop-filter: blur(.375rem);
}



.movie {
   position: relative;

   overflow: hidden;

   cursor: pointer;

   border-radius: .625rem;

   @include themify() {
      border: .0625rem solid themed('main-theme-color');
   }

   &:hover .movie__poster {
      transition-duration: .2s;
      transform: scale(1.008);
   }

   &__poster {
      display: block;

      width: 100%;

      transition-duration: .2s;
   }

   &__poster-replacer {
      height: 18.75rem;

      background-image: url(../../img/poster-not-found.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 50%;

      @include themify() {
         filter: themed('poster-replacer-filter');
      }
   }

   &__title {
      margin: .9375rem 0 3.125rem;

      text-align: center;

      @include themify() {
         color: themed('text-color');
      }

      &:hover {
         text-decoration: underline;
      }
   }

   &__label {
      font-weight: bold;

      position: absolute;
      bottom: .625rem;

      padding: .0625rem .125rem;

      border: .125rem solid;
      border-radius: .3125rem;
   }

   &__year {
      left: 3.125rem;

      color: #6c5ce7;
   }

   &__type {
      right: 3.125rem;

      color: #e17055;
   }
}

@media screen and (max-width: 300px) {
   .movie {
      &__year {
         left: 1.25rem;
      }
      &__type {
         right: 1.25rem;
      }
   }
}