@import '../themes';

.movie_opened {
   width: 90%;
   max-height: calc(100vh - 7.5rem);
   min-height: 30vh;
   margin: auto;

   cursor: default;

   @include themify() {
      color: themed('text-color');
      background-color: themed('root-background-color');
   }
}
.movie_opened .movie {
   &__close-full-info-button {
      font-size: 2.5rem;

      position: absolute;
      top: -0.3125rem;
      left: -0.3125rem;

      cursor: pointer;

      color: red;
      border: none;
      background: none;
      &:focus {
         outline: .0625rem solid #26b4d9;
      }
      &:hover {
         font-size: 2.5625rem;
      }
   }

   &__poster {
      float: left;

      width: calc(40% + .3125rem);
      padding-right: .3125rem;

      transform: none !important;
   }

   &__poster-replacer {
      display: none;

      & ~ .movie__title {
         width: calc(100% - 5.9375rem);
      }
   }

   &__title {
      display: inline-block;

      width: calc(60% - 5.9375rem);
      margin: .9375rem 5rem 1.5625rem .625rem;

      vertical-align: top;
      text-decoration: underline;
   }

   &__year {
      display: none;
   }

   &__type {
      top: .3125rem;
      right: .3125rem;
      bottom: auto;
   }

   &__runtime {
      top: 2.1875rem;
      right: .3125rem;
      bottom: auto;

      color: #6c5ce7;
   }

   &__common-info {
      font-size: 1.25rem;

      margin-bottom: .5rem;
      padding-right: 6.25rem;
      padding-left: .3125rem;
   }

   &__common-info-title {
      @include themify() {
         color: themed('main-theme-color');
      }
   }

   &__rating {
      text-decoration: underline;

      @include themify() {
         color: themed('rating-color');
      }
   }
}


@media screen and (max-width: 1000px) {
   .movie_opened .movie {
      &__common-info {
         padding-right: 1.875rem;
      }
   }
}

@media screen and (max-width: 550px) {
   .movie_opened .movie {
      &__close-full-info-button {
         font-size: 1.875rem;
      }
      &__title {
         margin-top: .625rem;
         margin-bottom: .625rem;
         font-size: 1.3rem;
      }
      &__common-info {
         font-size: 1.0625rem;
      }
   }
}

@media screen and (max-width: 350px) {
   .movie_opened .movie {
      &__label {
         font-size: .625rem;
      }
      &__type {
         top: .3125rem;
      }
      &__runtime {
         top: 1.5625rem;
      }
      &__title {
         font-size: 1.1rem;
      }
      &__poster-replacer ~ .movie__title{
         margin-left: 1.25rem;
         width: calc(100% - 5.3125rem);
      }
      &__common-info {
         padding-right: .625rem;
      }
   }
}

@media screen and (max-width: 255px) {
   .movie_opened .movie {
      &__label {
         font-size: .4375rem;
      }
   }
}

@media (orientation: portrait) {
   .movie_opened {
      overflow: auto;
   }
}