.movie {
   @include themify() {
      border: 1px solid themed('main-theme-color');
   }

   position: relative;

   overflow: hidden;

   cursor: pointer;

   border-radius: 10px;

   &:hover .movie__poster {
      transition-duration: .2s;
      transform: scale(1.008);
   }

   &__poster {
      display: block;

      width: 100%;

      transition-duration: .2s;
   }

   &__title {
      @include themify() {
         color: themed('text-color');
      }

      margin: 15px 0 50px;

      text-align: center;

      &:hover {
         text-decoration: underline;
      }
   }

   &__info {
      font-weight: bold;

      position: absolute;
      bottom: 10px;

      padding: 1px 2px;

      color: #6c5ce7;
      border: 2px solid;
      border-radius: 5px;
   }

   &__year {
      left: 50px;
   }

   &__type {
      right: 50px;

      color: #e17055;
      border-color: #e17055;
   }
}