@import '../themes';

@mixin styling($def-size) {
    .searchbar {
        position: absolute;
        top: 10px;
        right: 130px;

        width: 50%;
        min-width: 300px;
        
        height: $def-size;
        margin: auto;
        padding: 0 5px;

        border-radius: 5px;

        @include themify() {
            box-shadow: 0 0 5px themed('searchbar-shadow-color');
            background-color: themed('searchbar-background');
        }

        &_centered {
            position: absolute;
            top: 30%;
            right: 0;
            left: 0;

            margin: auto;
        }

        &__input {
            font-size: 20px;
            line-height: $def-size;

            width: calc(100% - #{$def-size}*2);

            border: none;
            outline: none;
            background-color: transparent;
            
            @include themify() {
                color: themed('text-color');
            }
        }

        &__button {
            position: absolute;

            width: $def-size;
            height: $def-size;

            cursor: pointer;

            opacity: .9;
            border: none;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            @include themify() {
                filter: themed('searchbar-buttons-filter');
            }

            &:focus {
                outline: 1px solid #26b4d9;
            }

            &:hover {
                opacity: 1;
            }
        }

        &__filter-button {
            right: $def-size;

            transition-duration: .3s;

            background-image: url(../../img/settings.svg);
            background-size: 50%;
            transform: rotate(90deg);

            &:hover {
                transition-duration: .3s;
                transform: rotate(-90deg);
            }
        }

        &__search-button {
            right: 0;
            background-size: 70%;

            background-image: url(../../img/searcher.svg);
            transition-duration: .3s;

            &:hover {
                transition-duration: .3s;
                transform: rotate(9deg);
            }
        }
    }
}

@include styling($def-size: 50px);

@media screen and (max-width: 1300px) {
    .searchbar {
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .searchbar {
        right: 110px;
        &_centered{
            right: 0;
        }
    }
}

@media screen and (max-width: 700px) {
    @include styling($def-size: 40px);
    .searchbar {
        width: 80%;
        right: 90px;
        &_centered{
            right: 0;
        }
    }
}


@media screen and (max-width: 400px) {
    .searchbar {
        right: 65px;
    }
 }


@media (orientation: portrait) {
    .searchbar {
        width: auto;
        left: 10px;
    }
}