@import './themes';

* {
   box-sizing: border-box;
}

#app-root {
   width: 100%;
   min-height: 100vh;

   &.theme-light {
      background-color: map-get(map-get($themes, light), root-background-color);
   }

   &.theme-dark {
      background-color: map-get(map-get($themes, dark), root-background-color);
   }
}


@media screen and (min-width: 2500px) {
   html {
      font-size: 21px;
   }
}

@media screen and (min-width: 3000px) {
   html {
      font-size: 30px;
   }
}

@media screen and (min-width: 4000px) {
   html {
      font-size: 42px;
   }
}


@import './components/searchbar';
@import './components/theme-toggler';
@import './components/filter';
@import './components/movies-list';
@import './components/movie';
@import './components/movie-opened';
@import './components/error-message';
