@import './themes';

* {
   box-sizing: border-box;
}

#app-root {
   width: 100%;
   min-height: 100vh;

   &.theme-light {
      background-color: map-get(map-get($themes, light), root-background-color);
   }

   &.theme-dark {
      background-color: map-get(map-get($themes, dark), root-background-color);
   }
}


@import './components/searchbar';
@import './components/theme-toggler';
@import './components/filter';
@import './components/movies-list';
@import './components/movie';
