@import './themes';

* {
   box-sizing: border-box;
}

#app-root {
   width: 100%;
   min-width: 400px;
   height: 100vh;

   &.theme-light {
      background-color: map-get(map-get($themes, light), main-background);
   }

   &.theme-dark {
      background-color: map-get(map-get($themes, dark), main-background);
   }
}


@import './components/searchbar';
@import './components/theme-toggler';
